# ETL PROJECT USING PYTHON AND MYSQL

#### In this project, we are going to use python to extract video data from YouTube using YouTube API, then do data transformation, such as ,removing duplacate values, converting data types, filling NANs with 0, droping unwanted columns, extracting date field date field.After transformation, we will connect to our database MYSQL using python-mysql API(mysql.connector), create table in the database,load our data to the database.

In [ ]:
from googleapiclient.discovery import build
import pandas as pd
from IPython.display import JSON
from dateutil import parser
import isodate
# Data viz packages
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
# NLP
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
nltk.download('punkt')
from wordcloud import WordCloud

In [2]:
api_key = 'AIzaSyAE4oq4VNVSH1RtUi-M4dvRHUWW_6klUxI'
api_service_name = "youtube"
api_version = "v3"

# Get credentials and create an API client
youtube = build(
    api_service_name, api_version, developerKey=api_key)

channel_ids = ['UC7cs8q-gJRlGwj4A8OmCmXg',
               #more channel ids
              ]

## Extract Data from YouTube using YouTube API

In [3]:
def get_channel_stats(youtube, channel_ids):
    
    """
    Get channel stats
    
    Params:
    ------
    youtube: build object of Youtube API
    channel_ids: list of channel IDs
    
    Returns:
    ------
    dataframe with all channel stats for each channel ID
    
    """
    
    all_data = []
    
    request = youtube.channels().list(
        part="snippet,contentDetails,statistics",
        id=','.join(channel_ids)
    )
    response = request.execute()

    # loop through items
    for item in response['items']:
        data = {'channelName': item['snippet']['title'],
                'subscribers': item['statistics']['subscriberCount'],
                'views': item['statistics']['viewCount'],
                'totalVideos': item['statistics']['videoCount'],
                'playlistId': item['contentDetails']['relatedPlaylists']['uploads']
        }
        
        all_data.append(data)
        
    return(pd.DataFrame(all_data))

playlist_id = "UU7cs8q-gJRlGwj4A8OmCmXg"

def get_video_ids(youtube, playlist_id):
    
    video_ids = []
    
    request = youtube.playlistItems().list(
        part="snippet,contentDetails",
        playlistId=playlist_id,
        maxResults = 50
    )
    response = request.execute()
    
    for item in response['items']:
        video_ids.append(item['contentDetails']['videoId'])
        
    next_page_token = response.get('nextPageToken')
    while next_page_token is not None:
        request = youtube.playlistItems().list(
                    part='contentDetails',
                    playlistId = playlist_id,
                    maxResults = 50,
                    pageToken = next_page_token)
        response = request.execute()

        for item in response['items']:
            video_ids.append(item['contentDetails']['videoId'])

        next_page_token = response.get('nextPageToken')
        
    return video_ids
    
    
def get_video_details(youtube, video_ids):

    all_video_info = []
    
    for i in range(0, len(video_ids), 50):
        request = youtube.videos().list(
            part="snippet,contentDetails,statistics",
            id=','.join(video_ids[i:i+50])
        )
        response = request.execute() 

        for video in response['items']:
            stats_to_keep = {'snippet': ['channelTitle', 'title', 'description', 'tags', 'publishedAt'],
                             'statistics': ['viewCount', 'likeCount', 'favouriteCount', 'commentCount'],
                             'contentDetails': ['duration', 'definition', 'caption']
                            }
            video_info = {}
            video_info['video_id'] = video['id']

            for k in stats_to_keep.keys():
                for v in stats_to_keep[k]:
                    try:
                        video_info[v] = video[k][v]
                    except:
                        video_info[v] = None

            all_video_info.append(video_info)
    
    return pd.DataFrame(all_video_info)

In [4]:
channel_stat = get_channel_stats(youtube, channel_ids)
channel_stat

video_ids = get_video_ids(youtube, playlist_id)
print(len(video_ids))

video_df = get_video_details(youtube, video_ids)
video_df

184

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition,caption
0,0MKcCHrTo0c,Alex The Analyst,"Reading, Writing, and Appending Files in Pytho...",In this series we will be walking through ever...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-12-27T13:00:00Z,2517,104,None,7,PT9M24S,hd,false
1,bVJfQAe-UP4,Alex The Analyst,Why I Quit my 125k Analytics Job,"This is not where I saw my career going, but h...","[Data Analyst, Data Analyst job, Data Analyst ...",2022-12-20T12:00:33Z,77221,4734,None,716,PT7M43S,hd,false
2,_2OknmkngkQ,Alex The Analyst,Data Analyst Q/A Livestream + Special Guest! |...,This is December's Livestream where you can co...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-12-17T14:16:05Z,3935,153,None,16,PT1H22M48S,hd,false
3,B63bN2cLVLM,Alex The Analyst,Converting Data Types in Python | Python for B...,In this series we will be walking through ever...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-12-13T12:00:06Z,2664,93,None,21,PT6M36S,hd,false
4,zvzjaqMBEso,Alex The Analyst,Functions in Python | Python for Beginners,In this series we will be walking through ever...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-12-06T12:00:36Z,3258,134,None,22,PT12M44S,hd,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,4rfr6A3lO-Y,Alex The Analyst,Data Analyst Resume | Reviewing My Resume! | F...,Data Analyst Resume | Reviewing My Resume! | F...,"[Data Analyst, How to become a data analyst, D...",2020-01-30T14:07:55Z,57304,1435,None,63,PT7M33S,hd,false
180,OTq2NRy_AGs,Alex The Analyst,Working at a Big Company Vs Small Company | To...,Working at a Big Company Vs Small Company | To...,"[Data Analyst, How to become a Data Analyst, B...",2020-01-25T16:38:39Z,12400,353,None,20,PT5M50S,hd,false
181,ya28cb3zFGE,Alex The Analyst,Data Analyst Salary | 100k with No Experience,Data Analyst Salary | 100k with No Experience ...,"[Data Analyst Salary, Data analyst with no exp...",2020-01-23T03:16:09Z,54015,1934,None,218,PT5M3S,hd,false
182,Hsi2BG0SOiQ,Alex The Analyst,Truth About Big Companies | Told by a Fortune ...,Truth About Big Companies // There are a ton o...,"[Working at a big company, Big company data an...",2020-01-21T03:52:15Z,6725,264,None,17,PT5M45S,hd,false
183,6lQzbk6_OTw,Alex The Analyst,Top 3 Data Analyst Skills in 2020,Top 3 Data Analyst Skills in 2020 // There are...,"[Top skills for data analyst, Top 3 skills for...",2020-01-17T14:31:39Z,25062,1257,None,137,PT2M40S,hd,false

## Transform the data

In [5]:
#Check for null values
video_df.isnull().any()

video_id          False
channelTitle      False
title             False
description       False
tags               True
publishedAt       False
viewCount         False
likeCount         False
favouriteCount     True
commentCount      False
duration          False
definition        False
caption           False
dtype: bool

In [32]:
#Check datatypes
video_df.dtypes

video_id                           object
channelTitle                       object
title                              object
description                        object
tags                               object
publishedAt       datetime64[ns, tzutc()]
Total_Views                       float64
Total_likes                       float64
favouriteCount                    float64
Total_Comment                     float64
duration                           object
definition                         object
caption                            object
pushblish Day                      object
durationSecs                      float64
tagCount                            int64
pushblishDate                      object
dtype: object

In [7]:
# Convert count columns to numeric
numeric_cols = ['viewCount', 'likeCount', 'favouriteCount', 'commentCount']
video_df[numeric_cols] = video_df[numeric_cols].apply(pd.to_numeric, errors = 'coerce', axis = 1)

# Publish day in the week
video_df['publishedAt'] = video_df['publishedAt'].apply(lambda x: parser.parse(x)) 
video_df['pushblishDayName'] = video_df['publishedAt'].apply(lambda x: x.strftime("%A")) 

# convert duration to seconds
import isodate
video_df['durationSecs'] = video_df['duration'].apply(lambda x: isodate.parse_duration(x))
video_df['durationSecs'] = video_df['durationSecs'].astype('timedelta64[s]')

# Add tag count
video_df['tagCount'] = video_df['tags'].apply(lambda x: 0 if x is None else len(x))

# Rename some columns
video_df.rename(columns={'viewCount': 'Total_Views', 'likeCount': 'Total_likes',
                         'commentCount': 'Total_Comment','pushblishDayName':'pushblish Day'},inplace=True)
# convert date 
video_df['pushblishDate'] = video_df['publishedAt'].apply(lambda x: x.strftime("%Y-%m-%d %H:%M:%S"))

In [ ]:
transformed_df = video_df.drop(columns=['duration','description','publishedAt'])

transformed_df = transformed_df.fillna(0)

# convert Total_Views, Total_likes,favouriteCount,Total_Comment and durationSecs columns from float to int data type
transformed_df["Total_Views"] = transformed_df["Total_Views"].astype('int64')
transformed_df["Total_likes"] = transformed_df["Total_likes"].astype('int64')
transformed_df["favouriteCount"] = transformed_df["favouriteCount"].astype('int64')
transformed_df["Total_Comment"] = transformed_df["Total_Comment"].astype('int64')
transformed_df["durationSecs"] = transformed_df["durationSecs"].astype('int64')

transformed_df

In [ ]:
# Write the data to cv file for further analysis

transformed_df.to_csv("AlexVideoDs.csv",index=False)

In [ ]:
transformed_df.columns

## Load Data to Database

In [75]:
import csv
import mysql.connector
from mysql.connector import Error

# Connect to the database
try:
    conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='password',
    database='PortfolioProjects'
    )
    cursor = conn.cursor()
    
    # Drop table if exists
    cursor.execute('DROP TABLE IF EXISTS videoDS;')
    
    # Create the table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS videoDS(
        video_id VARCHAR(20),
        channelTitle VARCHAR(30),
        title VARCHAR(200),
        tags VARCHAR(1000),
        Total_Views long,
        Total_likes long,
        favouriteCount long,
        Total_Comment long,
        definition CHAR(5),
        caption VARCHAR(10),
        pushblishDay VARCHAR(15),
        durationSecs long,
        tagCount long,
        pushblishDate long)
        ''')
    
    # Read data from the CSV file
    with open('AlexVideoDs.csv', 'r') as f:
        reader = csv.reader(f)
        next(reader)  # Skip the header row
        for row in reader:
            # Insert the data into the table
            cursor.execute('INSERT INTO videoDS(video_id, \
            channelTitle,title,tags,\
            Total_Views,Total_likes,favouriteCount,Total_Comment,definition,\
            caption,pushblishDay,durationSecs,tagCount,pushblishDate)' \
                           'VALUES("%s","%s","%s", "%s", "%s","%s", "%s", "%s","%s", "%s", "%s","%s", "%s", "%s")',row)
except Error as e:
    print("Error while connecting to MySQL", e)

# Save the changes and close the connection
conn.commit()
conn.close()
print("Done")

Done

In [58]:
# Alternatively, we can load the datafram straight to the database without writing it to csv first.
#import pymysql
#from sqlalchemy import create_engine

# create sqlalchemy engine
# engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       #.format(user="root",
                              # pw="password",
                               #db="databasename"))

#transformed_df.to_sql('movie_details', con = engine, if_exists = 'append', chunksize = 1000)"""